---
http_interactions:
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=LOCATION_API_KEY&location=bend,or
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 06 Mar 2021 19:49:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"bend,or"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bend","adminArea5Type":"City","adminArea4":"Deschutes
        County","adminArea4Type":"County","adminArea3":"OR","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039733","unknownInput":"","type":"s","latLng":{"lat":44.058088,"lng":-121.31515},"displayLatLng":{"lat":44.058088,"lng":-121.31515},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=LOCATION_API_KEY&type=map&size=225,160&locations=44.058088,-121.31515|marker-sm-50318A-1&scalebar=true&zoom=12&rand=169049475"}]}]}'
  recorded_at: Sat, 06 Mar 2021 19:49:07 GMT
recorded_with: VCR 6.0.0
