---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely,alerts&lat=44.058088&lon=-121.31515&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.0581,"lon":-121.3152,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1615060147,"sunrise":1615041187,"sunset":1615082401,"temp":41.4,"feels_like":34.54,"pressure":1017,"humidity":56,"dew_point":27.48,"uvi":3.11,"clouds":20,"visibility":10000,"wind_speed":4.61,"wind_deg":0,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1615057200,"temp":41.4,"feels_like":32.63,"pressure":1017,"humidity":56,"dew_point":27.48,"uvi":2.79,"clouds":20,"visibility":10000,"wind_speed":8.01,"wind_deg":248,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.02},{"dt":1615060800,"temp":40.64,"feels_like":31.17,"pressure":1018,"humidity":62,"dew_point":29.05,"uvi":3.11,"clouds":21,"visibility":10000,"wind_speed":9.64,"wind_deg":249,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.02},{"dt":1615064400,"temp":40.82,"feels_like":31.01,"pressure":1018,"humidity":64,"dew_point":29.89,"uvi":2.9,"clouds":42,"visibility":10000,"wind_speed":10.47,"wind_deg":251,"weather":[{"id":802,"main":"Clouds","description":[...]
