---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=BACKGROUND_API_KEY&per_page=1&query=new%2520orleans,la
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=BACKGROUND_API_KEY&page=10000&per_page=1&query=new%2520orleans%2Cla>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=BACKGROUND_API_KEY&page=2&per_page=1&query=new%2520orleans%2Cla>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"d8383f1d3ef46fbe3ca53e61e2393911"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":10000,"results":[{"id":"ksVq_Mv-Q-0","created_at":"2019-03-24T23:44:01-04:00","updated_at":"2021-03-06T10:07:47-05:00","promoted_at":"2019-03-28T02:01:39-04:00","width":5832,"height":3855,"color":"#262626","blur_hash":"LI6uk*V@MckBcIV@aJkBNfn%kCfQ","description":null,"alt_description":"buildings
        during night time","urls":{"raw":"https://images.unsplash.com/photo-1553484604-9f524520c793?ixid=MXwyMTI3ODZ8MHwxfHNlYXJjaHwxfHxuZXclMjUyMG9ybGVhbnMsbGF8ZW58MHx8fA\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1553484604-9f524520c793?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwyMTI3ODZ8MHwxfHNlYXJjaHwxfHxuZXclMjUyMG9ybGVhbnMsbGF8ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1553484604-9f524520c793?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTI3ODZ8MHwxfHNlYXJjaHwxfHxuZXclMjUyMG9ybGVhbnMsbGF8ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1553484604-9f524520c793?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTI3ODZ8MHwxfHNlYXJjaHwxfHxuZXclMjUyMG9ybGVhbnMsbGF8ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1553484604-9f524520c793?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTI3ODZ8MHwxfHNlYXJjaHwxfHxuZXclMjUyMG9ybGVhbnMsbGF8ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/ksVq_Mv-Q-0","html":"https://unsplash.com/photos/ksVq_Mv-Q-0","download":"https://unsplash.com/photos/ksVq_Mv-Q-0/download","download_location":"https://api.unsplash.com/photos/ksVq_Mv-Q-0/download"},"categories":[],"likes":229,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"s15pZ4oXxAI","updated_at":"2021-02-26T14:21:56-05:00","username":"capdfrawy","name":"CapDfrawy","first_name":"CapDfrawy","last_name":null,"twitter_username":null,"portfolio_url":null,"bio":"Follow
        me on Instagram: @capdfrawy\r\n","location":null,"links":{"self":"https://api.unsplash.com/users/capdfrawy","html":"https://unsplash.com/@capdfrawy","photos":"https://api.unsplash.com/users/capdfrawy/photos","likes":"https://api.unsplash.com/users/capdfrawy/likes","portfolio":"https://api.unsplash.com/users/capdfrawy/portfolio","following":"https://api.unsplash.com/users/capdfrawy/following","followers":"https://api.unsplash.com/users/capdfrawy/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1550808553426-4981daeb502a?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1550808553426-4981daeb502a?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1550808553426-4981daeb502a?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"capdfrawy","total_collections":3,"total_likes":0,"total_photos":7,"accepted_tos":true,"for_hire":false},"tags":[{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2021-03-03T10:01:03-05:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#0c2640","blur_hash":"LhEMa,W=WVWW_4kBjtW=?bkBaefR","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unspl[...]
