---
http_interactions:
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=LOCATION_API_KEY&location=rutland,vt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 06 Mar 2021 16:18:40 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"rutland,vt"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rutland","adminArea5Type":"City","adminArea4":"Rutland
        County","adminArea4Type":"County","adminArea3":"VT","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282037453","unknownInput":"","type":"s","latLng":{"lat":43.610633,"lng":-72.972688},"displayLatLng":{"lat":43.610633,"lng":-72.972688},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=LOCATION_API_KEY&type=map&size=225,160&locations=43.610633,-72.972688|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-281153649"}]}]}'
  recorded_at: Sat, 06 Mar 2021 16:18:40 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely,alerts&lat=43.610633&lon=-72.972688&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":43.6106,"lon":-72.9727,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1615047521,"sunrise":1615029581,"sunset":1615070807,"temp":16.56,"feels_like":7.86,"pressure":1016,"humidity":58,"dew_point":5.65,"uvi":2.15,"clouds":75,"visibility":10000,"wind_speed":4.61,"wind_deg":0,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1615046400,"temp":16.56,"feels_like":6.55,"pressure":1016,"humidity":58,"dew_point":5.65,"uvi":2.15,"clouds":75,"visibility":9847,"wind_speed":6.93,"wind_deg":266,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1615050000,"temp":17.26,"feels_like":7.39,"pressure":1017,"humidity":73,"dew_point":10.87,"uvi":2.29,"clouds":86,"visibility":10000,"wind_speed":7.27,"wind_deg":268,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1615053600,"temp":19.08,"feels_like":9.25,"pressure":1017,"humidity":81,"dew_point":14.76,"uvi":2.05,"clouds":94,"visibility":10000,"wind_speed":7.72,"wind_deg":274,"weather":[{"id":804,"main":"Clouds","description":"ov[...]
